@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  font-size: 16px;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #1e293b;
}

.title-bold {
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
}

@media print {
  .no-print {
    display: none !important;
  }
  .page-break {
    page-break-before: always;
    padding-top: 1rem;
  }
  .print-only {
    display: block !important;
  }
}
